* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  overflow-x: hidden;
  flex-wrap: wrap;
  background-color: #e5e5e5;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.logo {
  height: 21px;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4c59d1;
  margin-right: auto;
  margin-left: 24px;
}

.icon div {
  border: 2px solid #4c59d1;
  width: 22px;
  margin: 3px;
  border-radius: 15%;
}

.topnav {
  display: flex;
  align-items: center;
  padding-right: 36px;
  height: 48px;
  background-color: white;
  width: 100vw;
}

.nav-bar {
  display: flex;
}

.menu {
  display: none;
}

.headline {
  padding: 114px 24px;
  background-image: url(./Images/background1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  background-color: white;
  border-bottom-left-radius: 70px;
}

ul {
  list-style: none;
}

.name {
  height: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-bottom: 12px;
}

.words {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
}

.connect {
  color: #7f8cff;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 12px;
}

.social-media {
  display: flex;
  gap: 19px;
  padding: 0;
}

.work {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.Project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 114px;
}

.pic1 {
  width: 295px;
  height: 220px;
  background: url(blog_drbl_4x.png);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.uber,
.canopy1 {
  display: none;
}

.pic-desktop1,
.pic-desktop2,
.pic-desktop3,
.pic-desktop4 {
  display: none;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.title-desktop {
  display: none;
}

.Can-2015 {
  display: flex;
  gap: 12px;
  align-items: center;
}

.Can-2 {
  display: none;
}

.canopy {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 20px 0;
}

.back {
  height: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.year {
  width: 29px;
  height: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.info {
  width: 295px;
  height: 76px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.info-desktop {
  display: none;
}

.lang {
  display: flex;
  gap: 12px;
  margin: 12px 0;
}

.html {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.Ruby {
  display: none;
}

.css {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.javascript {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

button {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #6070ff;
  margin: 16px 0;
  background-color: #fff;
}

.btn:focus,
.form-button:focus {
  background-color: #2230d2;
  color: #fff;
}

.btn:hover,
.form-button:hover {
  background-color: #6070ff;
  color: #fff;
}

.btn:disabled,
.form-button:disabled {
  background-color: #e5e5e5;
  color: #5e6c84;
}

h3 {
  width: 327px;
  height: 101px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.self {
  width: 327px;
  height: 144px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

.myself {
  width: 100vw;
  padding: 114px 24px;
  border-top-right-radius: 60px;
  background: #fff;
  margin-top: 114px;
}

.stacks {
  display: flex;
  flex-direction: column;
}

ul h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.lang-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;
}

.small-ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.small-ul li {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 0.5rem 12px;
  width: 80vw;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
}

.lang-names {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.frames {
  border-bottom: 1px solid #dfe1e6;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  align-items: center;
  display: flex;
}

.vector {
  height: 12px;
  width: 6px;
}

.Frameworks {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

footer {
  background-color: #fff;
}

.footer {
  background-image: url(./Images/option.svg);
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-size: 60% 92%;
  padding: 103px 24px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-position: right 20%;
  padding-bottom: 29px;
  border-top-left-radius: 60px;
}

.contact-me {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  text-align: center;
  color: #fff;
  justify-content: center;
}

.form-msg {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  justify-content: center;
  margin-bottom: 60px;
}

.form-name {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.form-email {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 100%;
  padding: 15px 38px 15px 16px;
  resize: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  margin-bottom: 6px;
}

@media only screen and (min-width: 768px) {
  body {
    width: 100%;
  }

  .logo {
    margin-left: 115px;
    margin-top: 25px;
  }

  .topnav {
    height: 70px;
  }

  .icon {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    gap: 8px;
    width: 259px;
    height: 40px;
    left: 1039px;
    margin-right: 100px;
    color: #344563;
    margin-top: 25px;
  }

  .headline {
    background-image: url(./Images/Header.svg);
    display: flex;
    flex-direction: column;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    padding: 240px 18vw 255px 18vw;
    margin-right: 12px;
    width: 100vw;
  }

  .name {
    font-size: 48px;
  }

  .words {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 12px;
  }

  .connect {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .work {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .Project {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 1156px;
    height: 496px;
    border-radius: 24px;
    border: 1px solid #dfe1e6;
    margin-left: 142px;
    margin-right: 142px;
  }

  .reverse {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 48px;
  }

  .pic1 {
    display: none;
  }

  .pic-desktop1,
  .pic-desktop2,
  .pic-desktop3,
  .pic-desktop4 {
    display: flex;
    width: 500px;
    height: 410px;
    background: url(blog_drbl_4x.png);
    border-radius: 8px;
  }

  .pic-desktop1,
  .pic-desktop3 {
    margin: 24px 46px 24px 24px;
  }

  .pic-desktop2,
  .pic-desktop4 {
    margin: 24px 24px 24px 46px;
  }

  .title {
    display: none;
  }

  .title-desktop {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 12px 0;
  }

  .info-desktop {
    display: flex;
    margin: 32px 0 20px 0;
    width: 496px;
    height: 70px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .lang {
    margin-bottom: 40px;
  }

  .Can-2015 {
    display: none;
  }

  .testt {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .uber {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .Can-2 {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 20px;
  }

  .full-stack {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .info {
    display: none;
  }

  .Ruby {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
  }

  .canopy1 {
    display: flex;
    width: 75px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
    margin-right: 12px;
  }

  .back,
  .year {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
    align-items: center;
    justify-content: center;
  }

  /* ******About-myself***** */
  .Top-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    width: 447px;
    height: 392px;
  }

  .myself {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 142px 142px;
    border-top-right-radius: 60px;
    background: #fff;
  }

  .still-self {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: auto;
    margin-left: 37px;
  }

  .small-ul {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .small-ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 9vw;
    height: 120px;
    padding: 12px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
  }

  .Frameworks {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #344563;
  }

  .frames,
  .lang-title {
    width: 43vw;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }

  /* *****contact me****** */
  .footer {
    background-image: url(./Images/contact-background-shapes.svg);
    background-color: #6070ff;
    background-repeat: no-repeat;
    background-size: 100%, auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 142px;
  }

  .contact-me {
    margin-top: 0;
  }

  .form-msg {
    margin-bottom: 12px;
    width: 569px;
  }

  .form {
    display: flex;
  }

  .form-name,
  .form-email {
    width: 447px;
    height: 48px;
  }

  .textarea {
    width: 447px;
    height: 170px;
  }

  .form-name,
  .form-email,
  .textarea {
    border-radius: 2px;
  }

  .bttn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 110px;
    order: 3;
  }
}
